# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development configuration
.env

# Flask specific
instance/
.webassets-cache

# Logs
*.log

# Virtual environment
venv/
